* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* .debug{
  border: 1px solid red;
} */

#app {
  width: 100%;
  height: 130px;
  margin: 0 auto;
  text-align: center;
  line-height: 130px;
  font-size: 20px;
  font-weight: 400;
  background-color: #0c3b4b;
  color: #ffffff;
}
